<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="br.com.icaro.filme">

    <uses-sdk android:targetSdkVersion="27"
        tools:overrideLibrary="com.facebook, com.onesignal, android.support.customtabs"
        tools:ignore="MultipleUsesSdk" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name="applicaton.FilmeApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">

        <meta-data
            android:name="com.onesignal.NotificationOpened.DEFAULT"
            android:value="DISABLE" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_application_id" />
        <meta-data
            android:name="firebase_crash_collection_enabled"
            android:value="false" />

        <activity
            android:name="activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar.NavDrawer">

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            <meta-data
                android:name="android.app.default_searchable"
                android:value="activity.SearchMultiActivity" />
        </activity>

        <activity android:name="activity.LoginActivity">

        </activity>

        <activity android:name="activity.IntroActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name="tvshow.activity.TvShowActivity"
            android:parentActivityName="activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar.NavDrawer">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            <meta-data
                android:name="android.app.default_searchable"
                android:value="activity.SearchMultiActivity" />

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="activity.MainActivity" />

        </activity>

        <activity
            android:name="listafilmes.activity.FilmesActivity"
            android:parentActivityName="activity.MainActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="activity.MainActivity" />

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            <meta-data
                android:name="android.app.default_searchable"
                android:value="activity.SearchMultiActivity" />
        </activity>


        <activity android:name="activity.FavoriteActivity">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            <meta-data
                android:name="android.app.default_searchable"
                android:value="activity.SearchMultiActivity" />
        </activity>
        <activity android:name="activity.RatedActivity">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            <meta-data
                android:name="android.app.default_searchable"
                android:value="activity.SearchMultiActivity" />
        </activity>
        <activity android:name="pessoaspopulares.PersonPopularActivity">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            <meta-data
                android:name="android.app.default_searchable"
                android:value="activity.SearchMultiActivity" />
        </activity>

        <activity
            android:name="filme.activity.FilmeActivity"
            android:parentActivityName="activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar.NavDrawer">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="activity.MainActivity" />

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            <meta-data
                android:name="android.app.default_searchable"
                android:value="activity.SearchMultiActivity" />
        </activity>

        <activity
            android:name="activity.ListaGenericaActivity"
            android:parentActivityName="activity.MainActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="activity.MainActivity" />

        </activity>

        <activity android:name="oscar.OscarActivity">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            <meta-data
                android:name="android.app.default_searchable"
                android:value="activity.SearchMultiActivity" />
        </activity>

        <activity
            android:name="activity.TemporadaActivity"
            android:parentActivityName="activity.MainActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="activity.MainActivity" />

        </activity>

        <activity android:name="activity.EpsodioActivity" />


        <activity
            android:name="activity.TrailerActivity"
            android:parentActivityName="activity.MainActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="activity.MainActivity" />

        </activity>

        <activity
            android:name="activity.PosterActivity"
            android:parentActivityName="activity.MainActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="activity.MainActivity" />

        </activity>


        <activity
            android:name="activity.ElencoActivity"
            android:parentActivityName="activity.MainActivity">


            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="activity.MainActivity" />

        </activity>


        <activity
            android:name="activity.CrewsActivity"
            android:parentActivityName="activity.MainActivity">


            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="activity.MainActivity" />

        </activity>


        <activity
            android:name="activity.PosterGridActivity"
            android:parentActivityName="activity.MainActivity">


            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="activity.MainActivity" />
        </activity>

        <activity
            android:name="activity.SearchMultiActivity"
            android:theme="@style/AppTheme.NoActionBar.NavDrawer">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <activity android:name="activity.WatchListActivity">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            <meta-data
                android:name="android.app.default_searchable"
                android:value="activity.SearchMultiActivity" />
        </activity>

        <activity
            android:name="produtora.activity.ProdutoraActivity"
            android:parentActivityName="activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">


            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="activity.MainActivity" />

        </activity>

        <activity
            android:name="activity.SimilaresActivity"
            android:parentActivityName="activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">


            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="activity.MainActivity" />
        </activity>


        <activity android:name="activity.ListaUserActivity" />

        <activity
            android:name="pessoa.activity.PersonActivity"
            android:parentActivityName="activity.MainActivity">

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            <meta-data
                android:name="android.app.default_searchable"
                android:value="activity.SearchMultiActivity" />


            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="activity.MainActivity" />
        </activity>

        <activity
            android:name="activity.ReviewsActivity"
            android:parentActivityName="activity.MainActivity">


            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="activity.MainActivity" />

        </activity>


        <activity
            android:name="pessoa.activity.FotoPersonActivity"
            android:parentActivityName="activity.MainActivity">


            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="activity.MainActivity" />
        </activity>

        <activity android:name="activity.SettingsActivity" />

        <activity
            android:name="listaserie.activity.TvShowsActivity"
            android:parentActivityName="activity.MainActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="activity.MainActivity" />

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            <meta-data
                android:name="android.app.default_searchable"
                android:value="activity.SearchMultiActivity" />
        </activity>

        <activity
            android:name="activity.Site"
            android:parentActivityName="activity.MainActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="activity.MainActivity" />
        </activity>

        <activity
            android:name="seguindo.SeguindoActivity"
            android:parentActivityName="activity.MainActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="activity.MainActivity" />

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            <meta-data
                android:name="android.app.default_searchable"
                android:value="activity.SearchMultiActivity" />

        </activity>

        <activity android:name="activity.VincularLoginActivity" />

        <activity android:name="activity.DynamicLink">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="br.com.icaro.filme"
                    android:scheme="http" />
                <data
                    android:host="br.com.icaro.filme"
                    android:scheme="https" />
            </intent-filter>

        </activity>

        <activity android:name="desenvolvimento.Desenvolvimento" />

        <service
            android:name="onsignal.CustomNotificationExtenderService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false">
            <intent-filter>
                <action android:name="com.onesignal.NotificationExtender" />
            </intent-filter>
        </service>

        <provider
            android:name="provider.SuggestionRecentProvider"
            android:authorities="br.com.icaro.filme.search2" />

        <provider
            android:name="provider.SuggestionProvider"
            android:authorities="br.com.icaro.filme.search"
            android:enabled="true"
            android:exported="false" />
        <!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="e614e58bfe119737a7605e7f5b003431514e9a70" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

    </application>

</manifest>